.games-container {
	margin-top: 5rem;
}
.game-box {
	margin-bottom: 7rem;
	height: 330px;
}
.game-image {
	 width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.games-container .play-button {
	display: none;
}
.games-container .game-box:hover > .play-button {
	display: block;
	margin: auto;
  	position: absolute;
  	top: 50%; left: 0; bottom: 50%; right: 0;
  	padding: 25px;
}
.play-text {
	margin-top: -7px;
}
.game-title {
	border: 1px solid #007bff;
    padding: 10px;
    color: #007bff;
    font-weight: 600;
}