.nav-link {
	padding: 0;
}
header > .row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}
header > .row > .col-12 {
	padding-right: 0px !important;
    padding-left: 0px !important;
}
.navbar a {
	padding: 0px 10px;
	color: #fff;
	text-decoration: none;
}
.navbar-text {
	padding: 0.5rem 1rem;
	color: #fff !important;
}
.navbar {
	background: #007bff;
	padding: 1rem;
}
.logout {
	cursor: pointer;
}